@import url(http://fonts.googleapis.com/css?family=Sofia);
@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic&subset=latin,latin-ext);

body {
  background:url(../../images/bg_page.png) top left repeat;
  color:#3d3837;
  font-size:1.2em;
  font-family: 'Asap', sans-serif;
}

a {
  color:#ea4800;
  text-decoration:none;
}

a.active {
  color:#9c7f6f;
  text-decoration:none;
}

a:hover.active,
a:hover {
  color:#b43700;
  text-decoration:none;
}



h1, h2 {
  
}

/**
 * layout
 */ 

#page {
  padding-bottom:40px;
}

header#page-header {
  float:right;
}

#page-header-anoni {
  height:100px;
  background:#dc3900 url(../../images/bg_anoni-header.jpg) repeat-x center top;
}

.page-header-anoni-inner {
  width:750px;
  margin:0 auto;
  position:relative;
}

#page-header-anoni #site-name {
  position:absolute;
  top:50px;
  left:0px;
  display:block;
  height:66px;
  width:157px;
  background:url(../../images/big_logo.png) repeat-x center top;
  overflow:hidden;
}

#page-header-anoni #site-name a {
  display:block;
  height:100%;
  width:100%;
  overflow:hidden;
  text-indent:-9999em;
}

#page-header-anoni #block-system-main-menu .block-content ul.menu {
  margin:0;
  padding:0;
  float:right;
  position:relative;
  top:35px;
}

#page-header-anoni #block-system-main-menu .block-content ul.menu li {
  margin:0;
  padding:0;
  list-style:none;
  float:left;
  height:30px;
}

#page-header-anoni #block-system-main-menu .block-content ul.menu li a {
  margin:0;
  padding:0 15px;
  list-style:none;
  float:left;
  display:block;
  height:30px;
  line-height:30px;
  color:#fff;
  font-size:16px;
}

#page-header-anoni #block-system-main-menu .block-content ul.menu li a.active {
  background-color: rgba(100, 26, 9, 0.5);
  border-radius:3px;
}

.page-title-tabs {
  position:relative;
  height:100px;
}

#section-title {
  font-family: 'Sofia', cursive;
  font-size:3em;
  color:#836b5e;
  position:absolute;
  bottom:5px;
  right:10px;
}

#columns.with-sidebar #content-column {
  float:left;
  width:70%;
}

#sidebar {
  float:right;
  width:30%;
  background:#fafafa url(../../images/bg_sidebar) top left repeat-y;
  padding-bottom:10000px;
  margin-bottom:-10000px;
}

#sidebar .tabs.secondary {
  margin:0;
  padding:0;
  border:none;
}

#sidebar .tabs.secondary li {
  display:block;
  float:none;
  margin:0;
  padding:0;
  border:none;
}

#sidebar .tabs.secondary li a {
  display:block;
  height:50px;
  line-height:50px;
  text-indent:10px;
}

#sidebar .tabs.secondary li a.active {
  display:block;
  height:48px;
  line-height:48px;
  width:100%;
  background:#ede4d9 url(../../images/bg_secondary-tabs-active.png) left center no-repeat;
  position:relative;
  left:-9px;
  text-indent:19px;
  text-decoration:none;
  padding-right:9px;
}

#sidebar .tabs.secondary li a:hover {
  text-decoration:none;
}

#columns {
  background:#fff;
  border:1px solid #ede4d9;
  border-radius:3px;
}

#columns .columns-inner {
  overflow:hidden;
}

#columns.with-sidebar {
}

#content {
  padding:20px 10px;
}

nav.page-tabs {
  float:left;
}

.tabs.primary {
  border:none;
  background:none;
  margin:60px 0 0 0;
  padding:0;
  height:40px;
  position:relative;
  top:1px;
}

.tabs.primary li {
  border:none;
  background:none;
  margin:0 10px;
  padding:0;
  display:block;
  float:left;
  font-size:1.2em;
}

.tabs.primary li a {
  border:none;
  background:none;
  margin:0;
  padding:0;
  display:block;
  height:40px;
  cursor:pointer;
  font-weight:bold;
}

.tabs.primary li a.active {
  border:none;
  background:none;
  margin:0;
  padding:0;
  background:url(../../images/bg_primary-tabs-active.png) bottom center no-repeat;
}

.tabs.primary li a:hover {
  border:none;
  background-color:transparent;
  margin:0;
  padding:0;
}

/**
 * signup page
 */
body.page-signup #columns {
  background: transparent;
  border: none;
  border-radius: 0;
}

body.page-signup #main-content {
  background:transparent url(../../images/bg_signup.png) top left no-repeat;
  height:560px;
  margin-top:60px;
}

body.page-signup #main-content #content {
  margin-left:230px;
  padding:0;
  width:450px;
}

body.page-signup .signup-message {
  font-family: 'Sofia', cursive;
  font-size:2.8em;
  color:#bd957e;
  margin-bottom:25px;
  line-height:1.4em;
}

body.page-signup input.form-text {
  font-size:1.2em;
  width:100%;
  color:#a98e7f;
  font-weight:normal;
}

body.page-signup input.form-text.has-input {
  color:#000;
  font-weight:normal;
}

body.page-signup .password-suggestions,
body.page-signup .password-strength,
body.page-signup .form-item label {
  display:none !important;
}

body.page-signup .form-type-password-confirm {
  height:40px;
}

body.page-signup .form-type-password-confirm .form-item-pass-pass1 {
  float:left;
  width:195px;
  clear:none;
}

body.page-signup .form-type-password-confirm .form-item-pass-pass2 {
  float:right;
  width:195px;
  clear:none;
  position:relative;
}

body.page-signup div.password-confirm {
  position:absolute;
  top:8px;
  left:210px;
  height:40px;
  margin:0;
  padding:0;
  overflow:hidden;
  text-indent:-999em;
}

body.page-signup div.password-confirm span {
  position:absolute;
  display:block;
  top:0px;
  left:0px;
  margin:0;
  padding:0;
  height:20px;
  width:20px;
  overflow:hidden;
  text-indent:-999em;
}

body.page-signup div.password-confirm span.ok {
  background:transparent url(../../images/pass-status.png) 0px 0px no-repeat;
}

body.page-signup div.password-confirm span.error {
  background:transparent url(../../images/pass-status.png) 0px -20px no-repeat;
}

body.page-signup .form-actions {
  margin:0 0 0 125px;
}

body.page-signup .form-item {
  margin:0 0 20px 0;
}

body.page-signup .form-item-field-blog-domain-prefix {
  position:relative;
  border: 1px solid #B7A59B;
  border-radius: 3px;
  font-size: 1em;
  color: #534740;
  outline: none;
  background:#fff;
  height:2em;
}

body.page-signup .form-item-field-blog-domain-prefix.focus {
  border:1px solid #a02a06;
  background:#f9e7d8;
}

body.page-signup .form-item-field-blog-domain-prefix input.form-text {
  border:none;
  padding:0;
  margin:0;
  background:transparent !important;
  position:absolute;
  top:5px;
  left:5px;
  z-index:2;
}

body.page-signup .form-item-field-blog-domain-prefix .field-suffix {
  position:absolute;
  top:5px;
  left:5px;
  z-index:1;
  font-size:1.2em;
  color:#a98e7f;
  font-weight:normal;
  padding-left:6px;
  margin:0;
  line-height:1.2em;
  z-index:1;
}

body.page-signup .form-item-field-blog-domain-prefix .field-suffix .ghost-text {
  visibility:hidden;
}

body.page-signup .form-submit {
  display:block;
  width:190px;
  height:40px;
  background:transparent url(../../images/btn_submit.png) top left no-repeat;
  color:#fff;
  line-height:40px;
  text-indent:10px;
  text-align:left;
  border:none;
  font-size:18px;
  cursor:pointer;
}

body.page-iframe {
  background:transparent !important;
  padding:0;
  margin:0;
}