body.foodblog-toolbar {
  margin-top: 40px !important;
}

body.admin-menu.foodblog-toolbar {
  margin-top: 70px !important;
}

body.admin-menu.foodblog-toolbar #block-foodblog-toolbar-toolbar.js-inserted {
  margin-top: 30px !important;
}

#block-foodblog-toolbar-toolbar.js-inserted {
  position:absolute;
  top:0px;
  width:100%;
}

#block-foodblog-toolbar-toolbar .content {
  background:url(toolbar_bg.png) 0px 0px repeat-x;
  color:#ddd;
  text-shadow:1px 1px 1px #333;
  font-size:14px;
}

#block-foodblog-toolbar-toolbar .content a {
  color:#eee;
  text-decoration:none;
  height:40px;
  float:left;
  display:block;
}

#block-foodblog-toolbar-toolbar .content a:hover {
  text-shadow:1px 1px 5px #000;
  color:#fff;
}


#block-foodblog-toolbar-toolbar .content {
  height:40px;
  line-height:40px;
}

#block-foodblog-toolbar-toolbar .content .item-list ul {
  margin:0;
  padding:0;
  height:40px;
  float:left;
  padding:0 20px;
}

#block-foodblog-toolbar-toolbar .content .item-list ul li {
  margin:0 0 0 20px;
  padding:0;
  float:left;
  list-style:none;
}

#block-foodblog-toolbar-toolbar .content .item-list ul li.first {
  margin-left:0px;
}

#block-foodblog-toolbar-toolbar .content .item-list ul.portal-links li.first a {
  display:block;
  height:40px;
  width:80px;
  background:url(toolbar_bg.png) 0px -160px no-repeat;
  line-height:999999px;
  overflow:hidden;
}

#block-foodblog-toolbar-toolbar .content .item-list ul.blog-links {
  float:right;
  padding:0 20px;
  background:url(toolbar_bg.png) 0px -40px repeat-x;
}

#block-foodblog-toolbar-toolbar .content .item-list ul.own-links {
  float:right;
  background:url(toolbar_bg.png) 0px -80px repeat-x;
}

#block-foodblog-toolbar-toolbar .content .item-list ul.visited-links {
  float:right;
  background:url(toolbar_bg.png) 0px -120px repeat-x;
}

#block-foodblog-toolbar-toolbar .content .flag-wrapper {
  position:relative;
}

#block-foodblog-toolbar-toolbar .content .flag-message {
  position:absolute;
  z-index:5;
  background:#000;
  width:100px;
  left:-30px;
  top:20px;
  padding:10px;
}
