form .field-name-field-blog-preset-designs .form-item.form-type-radio:not(:last-child) {
  width:140px;
  height:140px;
  margin:0 15px 15px 0;
  padding:0;
  float:left;
  background:#f5f2ee;
  border:2px solid #ede4d9;
}

form .field-name-field-blog-preset-designs .form-item.form-type-radio:not(:last-child) label {
  display:block;
  height:100%;
  width:100%;
  cursor:pointer;
}

form .field-name-field-blog-preset-designs .active.form-type-radio:not(:last-child){
  border:2px solid #544f4d;
}

form .field-name-field-blog-preset-designs .form-item.form-type-radio:not(:last-child) .form-radio {
  display:none;
}

form .field-name-field-blog-preset-designs .form-item.form-type-radio:last-child {
  clear:both;
}