/**
 * Use this file to conditionally override styles for devices.
 * If you adjust the media queries in the theme settings you should
 * adjust them here so they match.
 */

/* Smartphone portrait */
@media only screen and (max-width:320px) {
  #sidebar {
    float:none !important;
    width: 100% !important;
  }
}

/* Smartphone landscape */
@media only screen and (min-width:321px) and (max-width:480px) {
  #sidebar {
    float:none !important;
    width: 100% !important;
  }
}

/* Tablet portrait */
@media only screen and (min-width:481px) and (max-width:768px) {
}

/* Tablet landscape */
@media only screen and (min-width:769px) and (max-width:1024px) {
}

/* Standard layout */
@media only screen and (min-width:1025px) {
}
