/**
 * Adaptivetheme takes a pretty heavy handed approach to form styling,
 * this is so you can have decent looking forms without having to do a
 * lot of work. The CSS is included in full, including all positioning,
 * so you can change anything you want.
 */
form {
  margin: 0 0 1.5em;
  padding: 0;
}
.form-item label {
  font-weight: 400;
}
input {
  margin: 0;
  max-width: 100%;
}

input.form-text,
textarea.form-textarea {
  margin: 0;
  border:1px solid #b7a59b;
  background:#f5f5f5;
  border-radius: 2px;
  padding:5px;
  font-size:1em;
  color:#534740;
}

select.form-select {
  margin: 0;
  border:1px solid #b7a59b;
  border-radius: 2px;
  padding:5px;
  font-size:0.9em;
  color:#534740;
  line-height:1.2em;
}

/* Focus styles for accessibility and usabiltiy. */
.form-text:focus,
.form-checkbox:focus,
.form-radio:focus,
.form-select:focus {
  border:1px solid #c18443;
  background: #fcf8f5;
  outline: none !important;
  -moz-appearance: none;
}
textarea:focus {
  border:1px solid #c18443;
  background: #fcf8f5;
  outline: none !important;
  -moz-appearance: none;
}

/* Inputs and textarea */
input.text,
input.title {
  padding: .5em;
}

div.resizable-textarea textarea {
  margin-top: 0;
}

/* Misc */
.form-item,
.form-action {
  margin-top: 10px;
  margin-bottom: 10px;
}
.exposed-filters .form-item {
  margin-top: 0;
  margin-bottom: 10px;
}
.form-item textarea.error {
  padding: 2px;
}
.form-item .description,
fieldset .description,
.fieldset-layout-settings dd {
  font-size: 0.846em;
}

/* Required, mark */
span.form-required,
span.marker {}


/* Fieldsets */
fieldset {
  background: transparent;
  border: 1px solid #dadada;
  margin: 10px 0;
  padding: 10px;
}
fieldset fieldset:last-child {
  margin-bottom: 0;
}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 0;
}
*:first-child+html fieldset {
  background-color: transparent;
  background-position: 0 10px;
  padding: 0 10px 10px;
}
*:first-child+html fieldset > .description,
*:first-child+html fieldset .fieldset-wrapper .description {
  padding-top: 10px;
}
fieldset legend {
  display: block;
  font-weight: 400;
  padding: 0 10px 0 0;
}
*:first-child+html fieldset legend,
*:first-child+html fieldset.collapsed legend {
  display: inline;
}
html.js fieldset.collapsed {
  background: transparent;
  padding-top: 5px;
}
/* Form descriptions */
.description {}

/* Search */
#search-block-form {}
#search-block-form > div {}
#search-block-form .container-inline{}
#edit-search-block-form-1-wrapper {}
#search-block-form label {}
#search-block-form input {}
#search-block-form .form-submit {}
#search-block-form .form-text {}

/* Advanced search form */
fieldset#edit-advanced fieldset {
  float: left;
  margin: 0 10px 10px 0;
}
fieldset#edit-advanced fieldset .fieldset-legend {
  background: none;
  padding-left: 1em;
}
.advanced-search-submit {
  clear: both;
}
.search-advanced .criterion {
  float: none;
  margin: 0 5px;
}
#edit-keywords-fieldset .form-item:first-child {
  margin-top: 5px;
}
#search-form {
  margin: 10px 0;
}
#search-form > div {}
#search-form .container-inline {}
#search-form label {}
#search-form input {}
#search-form .form-item {}
#search-form .form-submit {}

/* User login */
#user-login-form ul {
  margin: 0;
  padding: 0;
}
#user-login-form li.openid-link,
#user-login-form li.user-link {
  text-align: center;
}
#user-login ul {
  margin: 0 0 5px;
}
#user-login ul li {
  margin: 0;
}
#user-login-form .item-list li {
  list-style: none;
  margin: 0;
}
#user-login-form li.openid-link,
#user-login li.openid-link {
  background: none;
}

/* hide lable class - mostly deprecated but could be present in an upgraded theme */
.hide-label label {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  background: none;
}

/* Admin filters, could be redundant, need to test. */
#user-admin-filter ul li,
#article-admin-filter ul li {
  list-style: none;
}
#article-admin-filter ul {
  padding: .5em 0;
}
#edit-operation-wrapper select {
  margin: .5em;
}

/* Tips overrides */
.field-type-text-long fieldset {
  padding: 10px 0;
}
.field-type-text-long fieldset .form-item {
  margin: 0;
  padding: 0 0 0 15px;
}
fieldset .filter-help {
  padding: 0 15px 5px;
}
.filter-guidelines {
  font-size: .923em;
  margin: 0;
  padding: 5px 18px 10px;
}
.tips {
  font-size: 0.857em;
  margin: 0 0 0 15px;
  padding: 0;
}

/* Special case modules */
#devel-switch-user-form {
  margin-bottom: 0;
}

/* cheffr post form */

input,
textarea {
  font-family: 'Asap', sans-serif;
}

div.form-item {
  margin-bottom:20px;
}

div.form-item .form-item {
  padding-bottom:0px;
  margin-bottom:10px;
}

div.form-item .form-item{
  border-bottom: none;
}

input.form-text.error {
  border: 1px solid #f00;
}

input.form-submit {
  border:none;
  border-radius: 2px;
  color:#fff;
  background:#ea4800;
  cursor:pointer;
  padding:4px 8px;
  font-size:0.95em;
}

.form-actions input.form-submit {
  background:#ea4800 url(../images/save-draft-bg.png) left center repeat-x;
  font-size:1.1em;
  text-shadow:1px 1px 1px #542513;
  margin-right:20px;
}

.form-actions input#edit-submit {
  background:#ea4800 url(../images/button-bg.png) left center repeat-x;
}

.form-item .description, fieldset .description, .fieldset-layout-settings dd {
  color:#83736a;
}

label.option {
  font-weight: normal;
}

table.field-multiple-table thead > tr th.field-label:first-child label,
table.field-multiple-table thead > tr th.field-label:last-child label{
  display:none;
}

table.field-multiple-table tbody tr td:last-child input.form-submit {
  display:block;
  background:transparent url(../images/delete-item-icon.png) left center no-repeat;
  height:20px;
  width:20px;
  overflow:hidden;
  margin:0;
  padding:0;
  line-height:50em;
  text-indent:-99999px;
}

table.field-multiple-table tbody tr td .form-item {
  margin:0;
}

form .field-multiple-table th.field-label {
  padding-left: 7px;
}

.field-widget-field-collection-table .sticky-header {
  display:none;
}

div.field-name-field-recipe-instructions-photo {
  width:200px;
  overflow-x:hidden;
}

div.field-name-field-recipe-instructions-photo label,
div.field-name-field-recipe-instructions-photo .file a,
div.field-name-field-recipe-instructions-photo .file .file-icon,
div.field-name-field-recipe-instructions-photo .file-size {
  display:none;
}

div.field-name-field-recipe-instructions-photo .image-widget .image-widget-data {
  clear:both;
}

div.field-name-field-recipe-instructions-photo input.form-submit {
  display:block;
  float:none;
  clear:both;
  margin:10px 0;
  background:none;
  color:#EA4800;
  border:none;
  padding:0;
  font-size:0.9em;
}

.grippie {
  display:none;
}

a.tabledrag-toggle-weight {
  display:none;
}

input.field-add-more-submit {
  background:none;
  color:#EA4800;
  border:none;
  padding:0 0 0 25px;
  background:url(../images/add-item-icon.png) left center no-repeat;
}

ul.ui-autocomplete {
overflow-x: hidden;
overflow-y: auto;
min-height: 3em;
max-height: 250px;
}

li.horizontal-tab-button,
li.horizontal-tab-button:focus,
li.horizontal-tab-button:active,
li.horizontal-tab-button a,
li.horizontal-tab-button a:active,
li.horizontal-tab-button a:focus {
  outline: none !important;
  -moz-appearance: none;
}

html.js input.form-autocomplete {
  background-position: 100% 8px;
}

html.js input.throbbing {
  background-position: 100% -12px; /* LTR */
}

ul.horizontal-tabs-list li.selected {
  border-bottom:1px solid #fff;
  background:#fff;
  padding:0;
}

ul.horizontal-tabs-list li.selected a {
  background:#fff;
}

.group-post-recipe-basicinfo {
  float:left;
  width:60%;
  border-right:1px solid #EDE4D9;
  padding-right:20px;
}

.group-post-recipe-metainfo {
  width:36%;
  float:right;
}

.group-post-recipe-info {
  padding-top:20px;
  clear:both;
}

span.autocomplete-deluxe-button {
  top: 0px;
}

.form-type-textfield .autocomplete-deluxe-button {
  background:none;
  border:none;
}