/* Page */
html,
body {
  height:100%;
}

/* Header */
#page > header {}
#logo {
  margin: 0 10px;
}
#page > header > hgroup {
  margin: 0 10px;
}
#site-name {}
#site-name a    {}
#site-name a:visited {}
#site-name a:hover   {}
#site-name a:focus   {}
#site-name a:active  {}
#site-slogan {}

/* Page title */
h1#page-title {}

/* Regions */
.region-leaderboard {}
.region-header {}
.region-secondary-content {}
.region-highlighted {}
.region-content-aside {}
.region-tertiary-content {}
.region-footer {}

/* Sidebars */
.sidebar {}
.region-sidebar-first {}
.region-sidebar-second {}

/* Footer - the main page footer only */
#page > footer {}

/* Feed icons */
#feed-icons {}
#feed-icons .feed-icon {}
#feed-icons .feed-icon img {}
#feed-icons a.feed-icon {}

/* Search results list. */
.search-results {}
.search-results .search-result {}
.search-results .title {}
.search-results .search-snippet-info {}
.search-results p {}
.search-results .search-snippet {}
.search-results .search-info {}

span.search-info-type {}
span.search-info-user {}
span.search-info-date {}
span.search-info-comment {}
span.search-info-upload  {}

/* Aggregator */
.feed-item {}
.feed-item header {}
.feed-item-title {}
.feed-item-meta {}
.feed-item .content {}
.feed-item footer {}
.feed-source {}
.feed-description {}

/* Maintenance page */
.maintenance-page #skip-link {
  position: absolute;
  top: -99em;
}
.maintenance-page footer {
  margin: 10px 0 0;
}
.maintenance-page footer a {
  text-decoration: none;
  color: #ccc;
}

/* Prevent overflowing content */
header[role=banner],
.content-inner,
.nav,
.region-sidebar-first,
.region-sidebar-second,
.region-secondary-content,
.region-tertiary-content,
.region-footer {
  overflow: visible;
  word-wrap: break-word;
}

#page-wrapper {
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment:fixed;
  min-height:100%;
}

.container {
  padding:20px 0;
}

.container-inner {
  padding:20px;
  background:rgba(255,255,255,0.4);
  border-radius:6px;
}

#content-column .content-inner #main-content #content,
.region-sidebar-first .block,
.region-sidebar-second .block {
  background:#fff;
  border-radius:4px;
  box-shadow: #999 0px 1px 4px;
  padding:0;
}

.sidebar .block .block-inner {
  margin:0;
}

.sidebar .block .block-title {
  background:#ebebeb;
  padding:5px 10px;
  border-radius:3px 3px 0 0;
  border-bottom:#ccc solid 1px;
}

.sidebar .block .block-title {
  
}

.block-inner,
.region-help,
.messages,
#primary-nav,
#secondary-nav,
#breadcrumb,
#main-content > header,
#branding,
#attribution {
  margin-left: 15px;
  margin-right: 15px;
}