figure.recipe-photo {
  margin: 0;
}

figure.recipe-photo img {
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  width:100%;
  height:auto;
}

article header,
.article-content {
  padding:5px 15px 15px 15px;
}

article header h1 {
  font-size:3em;
  color:#161616;
}

.article-content {
  font-size:1.2em;
}