/**
 * Use this file to conditionally override styles for devices.
 * If you adjust the media queries in the theme settings you should
 * adjust them here so they match.
 */

/* Smartphone portrait */
@media only screen and (max-width:320px) {
  #content-column .content-inner {
    padding-left:0px;
  }
  
  .container {
    padding:10px 0;
  }
  
  .container-inner {
    padding:5px;
  }
}

/* Smartphone landscape */
@media only screen and (min-width:321px) and (max-width:480px) {
  #content-column .content-inner {
    padding-left:0px;
  }
  
  .container {
    padding:10px 0;
  }
  
  .container-inner {
    padding:5px;
  }
}

/* Tablet portrait */
@media only screen and (min-width:481px) and (max-width:768px) {
  #content-column .content-inner {
    padding-left:0px;
  }
}

/* Tablet landscape */
@media only screen and (min-width:769px) and (max-width:1024px) {
}

/* tablet landscape and standard */
@media only screen and (min-width:769px) {
  .region-sidebar-first {
    width: 25%;
    float: left;
  }
  #content-column {
    width: 75%;
    float: right;
  }
  #content-column .content-inner {
    padding-left:20px;
  }
  .region-sidebar-second {
    float: left;
    width: 25%;
  }
}

/* Standard layout */
@media only screen and (min-width:1025px) {
  #page-wrapper {
    max-width: 1100px;
    margin: 0 auto;
  }
}